<h1> What would you like to edit about this train? </h1>


<form action="/change_locatoin/<%= params["id"] %>">
  <select name="edit_choice">
      <option value="name">Name</option>
  </select>

  <input type="text" name="new_input" placeholder="New Input">
  
  <input type="submit">
</form> 
