html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: "Lucida Console", Monaco, monospace;
  text-align: center;
}

#front_header {
  background-image: url("http://photo24.com/Media/Images/Fine-Art-Print-Galleries/Panorama/Montana-Train-Panoramic.jpg");
  height: 400px;
  padding-left: 350px;
  padding-top: 40px;
}

#sub_header {
  background-color: #DDDACE;
}

#button_menu ul {
list-style-type: none;
-webkit-padding-start: 0px;
text-align: center;
}


.button {
  display:inline-block;
  min-width: 50px;
  width: 100%;
  padding: 0px;
  text-align: center;
  font-size: 150%;
  
  background: #33CCff;
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #000000;
  text-decoration: none;
  border-style: solid;
  border-width: 2px;
}
