<h1> Welcome to Railfan! </h1>

<h2> What would you like to do?</h2>

<ul>
  <li><a href="/add_train">Add a new train.</a></li>
  <li><a href="/view_trains">View train information.</a></li>
  <li><a href="/edit_train">Edit a train.</a></li>
  
</ul>