<!doctype html>


<html>
  <head>
    <title>RailFan</title>
    
    <link rel="stylesheet" href="global.css">
  </head>

  <body>
    <header>
      <h1> Welcome to Railfan! </h1>
      
      <h2> What would you like to do?</h2>
    </header>
    
    <nav>
      <div class="button_menu">
        <h2 class="spacing">Users</h2>
        <ul>
          <li><a class="button" href="/add_user">Add a new user.</a></li>
          <li><a class="button" href="/view_users">View user information.</a></li>
          <li><a class="button" href="/edit_user">Edit a user.</a></li>
          <li><a class="button" href="/delete_user">Delete a user.</a></li>
        </ul>
        
        <h2 class="spacing">Logs</h2>
        <ul>
          <li><a class="button" href="/add_log">Add a new log entry.</a></li>
          <li><a class="button" href="/view_logs">View log information.</a></li>
          <li><a class="button" href="/delete_log">Delete a log entry.</a></li>
        </ul>
        
        <h2 class="spacing">Trains</h2>
        <ul>
          <li><a class="button" href="/add_train">Add a new train.</a></li>
          <li><a class="button" href="/view_trains">View train information.</a></li>
          <li><a class="button" href="/edit_train">Edit a train.</a></li>
          <li><a class="button" href="/delete_train">Delete a train.</a></li>
        </ul>
        
        <h2 class="spacing">Locations</h2>
        <ul>
          <li><a class="button" href="/add_location">Add a new location.</a></li>
          <li><a class="button" href="/view_locations">View location information.</a></li>
          <li><a class="button" href="/edit_location">Edit a location.</a></li>
          <li><a class="button" href="/delete_location">Delete a location.</a></li>
        </ul>
      </div>
    </nav>
  </body>
</html>