<form action ="/save_train">
  <input type="text" placeholder="Train Name" name="name" value="<%= params["name"] %>">
  <input type="location_id" placeholder="Train Location" name="location_id" value="<%= params["location_id"] %>">
  
  <input type="submit">
</form>