<h1> What would you like to edit about this train? </h1>


<form action="/change_train/<%= params["id"] %>">
  <select name="edit_choice">
      <option value="name">Name</option>
      <option value="location_id">Location</option>
  </select>

  <input type="text" name="new_input" placeholder="New Input">
  
  <input type="submit">
</form> 


<h3>Locations</h3>
<table>
  <tr>
    <th>ID</th>
    <th>NAME</th>
  </tr>
  <% Location.all.each do |location| %>
    <tr>
      <td><%= location.id %></td>
      <td><%= location.name %></a></td>
    </tr>
  <% end %>
</table>