<h1>Which user would you like to delete?</h1>

<table>
  <tr>
    <th>ID</th>
    <th>NAME</th>
  </tr>
  <% User.all.each do |user| %>
    <tr>
      <td><%= user.id %></td>
      <td><a href="/delete_user/<%= user.id %>"><%= user.name %></a></td>
    </tr>
  <% end %>
</table>